<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie zadania</title>
</head>
<body>

<a href="/tasks">    Wszystkie </a>
<a href="/finished">     Skonczone </a>
<a href="/unfinished">    Nieskonczone </a>

<h1>Dodaj zadanie</h1>
<form action="/tasks" method="post">
    <label>Podaj nazwe </label>
    <input type="text" name="name">
    <label>Podaj opis</label>
    <textarea name="description">
    </textarea>
    <label>Skończony</label>
    <input type="checkbox" name="finished">
    <input type="submit" value="Dodaj zadanie">
</form>

</body>
</html>